body
	height: 2000px
	color: $text-color

header
	position: fixed
	top: 0
	left: 0
	width: 100%
	background-color: pink
	z-index: 10
	height: 50px
	a
		display: block
		text-align: center
		margin: 10px

.submenu
	padding-top: 50px
	width: 100%
	background-color: red
	nav


main
	padding-top: 100px

.box
	width: 100px
	height: 100px
	margin: 10px

