body
	height: 2000px
	color: $text-color

header
	position: fixed
	top: 0
	left: 0
	width: 100%
	background-color: pink
	z-index: 10
	nav
		a
			margin: 10px
			&:last-child
				color: white
				text-decoration: none
				padding: 3px 11px
				@include border-radius(50px)
				background-color: $pink-color
				border: 2px solid $pink-color
				float: right
				&:hover
					background-color: transparent
					color: $pink-color

main
	padding-top: 100px

.box
	width: 100px
	height: 100px
	margin: 10px

