//font
@import url(https://fonts.googleapis.com/css?family=Catamaran:400,600,200)

$google-font: 'Catamaran', sans-serif //600, 400, 200

// vars
$text-color: #333030
$pink-color: #e52054
$verde-color: #27B6BA
$verde-escuro-color: #349B9F
$verde-claro-color: #C5FF49
$preto-color: #485451
$cinza-color: #AAAFC6
$rosa-color: #e95787

//mixins
@mixin border-radius($radius)
	-webkit-border-radius: $radius
	border-radius: $radius
	background-clip: padding-box

@mixin border-top-radius($radius) 
	-webkit-border-top-right-radius: $radius
	border-top-right-radius: $radius
	-webkit-border-top-left-radius: $radius
	border-top-left-radius: $radius
	background-clip: padding-box

@mixin border-bottom-radius($radius)
	-webkit-border-bottom-right-radius: $radius
	border-bottom-right-radius: $radius
	-webkit-border-bottom-left-radius: $radius
	border-bottom-left-radius: $radius
	background-clip: padding-box

=keyframes($name)
	@-webkit-keyframes #{$name}
		@content
	@-moz-keyframes #{$name}
		@content
	@-ms-keyframes #{$name}
		@content
	@keyframes #{$name}
		@content


// Reset 
body
	font-family: 'Catamaran', sans-serif
	font-weight: 400



//buttons
.button
	color: white
	text-decoration: none
	padding: 3px 11px
	@include border-radius(50px)
	font-weight: 600
	font-size: 14px
	&:hover	
		text-decoration: none

.left
	float: left
.icon
	position: absolute
	color: $verde-claro-color
	left: -5px
	top: -12px
	font-size: 45px

//advice
.advice
	position: fixed
	left: 0
	top: 0
	z-index: 11
	height: 50px
	width: 100%
	text-align: center
	color: $preto-color
	background-color: $verde-claro-color

	-webkit-animation: seconds 1.0s forwards
	-webkit-animation-iteration-count: 1
	-webkit-animation-delay: 5s
	animation: seconds 1.0s forwards
	animation-iteration-count: 1
	animation-delay: 5s

	p
		margin-top: 10px
		text-transform: uppercase

+keyframes(seconds)
	0%
		opacity: 1  
	100%
		opacity: 0
		left: -9999px