<%# app/views/layouts/_footer.erb %>

<footer class="clearfix">
	<div class="button-footer">
		<a href="https://github.com/wagnerrosa/coolors" target="_blank" class="button-footer"><i class="icon ion-social-github"></i>Source code</a>
	</div>	
	<div class="lx clearfix">
		<a id="footer#electrico" href="http://wagnerrosa.com" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="37.6766mm" height="27.0932mm" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
		viewBox="0 0 3768 2709"
		xmlns:xlink="http://www.w3.org/1999/xlink">
		<defs>
		<style type="text/css">
		<![CDATA[
		.str6 {stroke:black;stroke-width:33.86}
		.str7 {stroke:#90551B;stroke-width:33.86}
		.str1 {stroke:black;stroke-width:67.73}
		.str2 {stroke:black;stroke-width:42.33}
		.str4 {stroke:black;stroke-width:42.33}
		.str8 {stroke:#4F4C43;stroke-width:42.33}
		.str5 {stroke:#90551B;stroke-width:42.33}
		.str3 {stroke:black;stroke-width:20}
		.str0 {stroke:#DCDFE0;stroke-width:20}
		.fil10 {fill:none}
		.fil6 {fill:black}
		.fil5 {fill:#1B3B50}
		.fil9 {fill:#1B3B50}
		.fil7 {fill:#282327}
		.fil1 {fill:#282327}
		.fil4 {fill:#716559}
		.fil8 {fill:#7A412D}
		.fil0 {fill:#DCDFE0}
		.fil3 {fill:#EBECE7}
		.fil2 {fill:#F2B121}
		.fil11 {fill:black;fill-rule:nonzero}
		]]>
		</style>
		</defs>
		<g id="Camada_x0020_1">
		<metadata id="CorelCorpID_0Corel-Layer"/>
		<g id="_303585416">
		<rect class="fil0 str0" x="13" y="2431" width="3742" height="265" rx="132" ry="132"/>
		<polygon class="fil1 str1" points="3440,2277 3440,2277 3620,2466 3550,2489 "/>
		<polygon class="fil1 str2" points="338,2277 338,2277 157,2466 227,2489 "/>
		<rect class="fil2 str2" id="bondinho" x="236" y="1651" width="3359" height="648"/>
		<rect class="fil3 str3" x="236" y="1155" width="3359" height="496"/>
		<path class="fil4 str4" d="M196 1151l3438 0 0 -116c0,-65 -52,-117 -116,-117l-3205 0c-64,0 -117,52 -117,117l0 116z"/>
		<path class="fil5 str5" d="M1111 1736l396 0 0 -420c0,-30 -25,-56 -56,-56l-284 0c-31,0 -56,26 -56,56l0 420z"/>
		<rect class="fil5 str5" x="1112" y="1455" width="397" height="282"/>
		<rect class="fil4 str4" x="1310" y="756" width="1210" height="162"/>
		<rect class="fil6 str3" x="940" y="2150" width="2048" height="149"/>
		<circle class="fil7 str6" cx="1237" cy="2401" r="198"/>
		<path class="fil5 str5" d="M232 1251l98 0c54,0 98,45 98,99l0 391 -196 0 0 -490z"/>
		<path class="fil1 str2" d="M971 2150l1916 0 0 38c0,20 -17,38 -38,38l-1840 0c-21,0 -38,-18 -38,-38l0 -38z"/>
		<circle class="fil6" cx="1237" cy="2401" r="138"/>
		<circle class="fil1" cx="1237" cy="2401" r="69"/>
		<circle class="fil7 str6" cx="2507" cy="2401" r="198"/>
		<circle class="fil6" cx="2507" cy="2401" r="138"/>
		<circle class="fil1" cx="2507" cy="2401" r="69"/>
		<path class="fil1 str2" d="M848 2298l2162 0 0 41c0,23 -18,42 -41,42l-2080 0c-23,0 -41,-19 -41,-42l0 -41z"/>
		<path class="fil1 str2" d="M971 2448l1916 0 0 39c0,21 -17,38 -38,38l-1840 0c-21,0 -38,-17 -38,-38l0 -39z"/>
		<path class="fil8 str2" d="M236 2150l740 0 0 74c0,41 -33,75 -74,75l-666 0 0 -149z"/>
		<path class="fil8 str2" d="M3594 2150l-783 0 0 74c0,41 33,75 74,75l709 0 0 -149z"/>
		<path class="fil4 str4" d="M366 1027l140 0 0 -125c0,-39 -31,-70 -70,-70l-70 0 0 195z"/>
		<path class="fil4 str4" d="M3462 1027l-141 0 0 -125c0,-39 32,-70 71,-70l70 0 0 195z"/>
		<path class="fil5 str7" d="M3601 1251l-99 0c-54,0 -98,45 -98,99l0 391 197 0 0 -490z"/>
		<rect class="fil9" x="814" y="1298" width="105" height="318" rx="36" ry="43"/>
		<rect class="fil9" x="814" y="1704" width="105" height="339" rx="36" ry="46"/>
		<line class="fil10 str8" x1="755" y1="1257" x2="755" y2= "2129" />
		<g>
		<path class="fil11" d="M3151 101l-615 749 -32 -26 615 -749 32 26zm70 57l-14 16 -171 -140 27 -32 171 140 -13 16z"/>
		</g>
		<g id="_303587792">
		<path class="fil5 str5" d="M1716 1736l397 0 0 -420c0,-30 -25,-56 -56,-56l-285 0c-31,0 -56,26 -56,56l0 420z"/>
		<rect class="fil5 str5" x="1717" y="1455" width="397" height="282"/>
		</g>
		<path class="fil5 str5" d="M2375 1736l397 0 0 -420c0,-30 -25,-56 -56,-56l-284 0c-31,0 -57,26 -57,56l0 420z"/>
		<rect class="fil5 str5" x="2377" y="1455" width="397" height="282"/>
		<rect class="fil10 str4" x="541" y="1253" width="427" height="896"/>
		<rect class="fil9" x="594" y="1298" width="105" height="318" rx="36" ry="43"/>
		<rect class="fil9" x="594" y="1704" width="105" height="339" rx="36" ry="46"/>
		<rect class="fil9" x="3151" y="1298" width="105" height="318" rx="36" ry="43"/>
		<rect class="fil9" x="3151" y="1704" width="105" height="339" rx="36" ry="46"/>
		<line class="fil10 str8" x1="3092" y1="1257" x2="3092" y2= "2129" />
		<rect class="fil10 str4" x="2879" y="1253" width="427" height="896"/>
		<rect class="fil9" x="2932" y="1298" width="105" height="318" rx="36" ry="43"/>
		<rect class="fil9" x="2932" y="1704" width="105" height="339" rx="36" ry="46"/>
		</g>
		</g>
		</svg></a>
		<div class="text-footer">
			<p>Built with <i class="iconico ion-heart"></i> in<br>Lisbon by <a target="_blank" id="footer#wagnerrosa" href="http://wagnerrosa.com">Wagner Rosa</a></p>
			<span>© 2016, Coolors.</span>							
		</div>
	</div>

</footer>